* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #ec407a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.box{
    width: 500px;
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
}
.description_box{
    height: 150px;
    overflow: hidden;
    line-height: 1.5;
    padding: 20px 0px;
    position: relative;
}
.active{
    height: auto;
}
button{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    background-color: transparent;
    padding: 20px 0px;
    z-index: 1;
    cursor: pointer;
}
button:after{
    position: absolute;
    content: "";
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background: linear-gradient(180deg , #ffffffa1 , #fff , #fff);
    z-index: -1;
}

.active_button{
    position: unset;
    width: 100%;
}
.active_button:after{
    background: transparent;
}